__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

.pytest_cache/
.ruff_cache/
.mypy_cache/
.streamlit/

*.db
*.pkl
.DS_Store
.idea/